 
<html  >
<head>
     
    <title>weather site</title>
</head>
<body>
    <h1>Weather site HBS {{name}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</body>
</html>